* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: rgb(232, 237, 238);
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-wrapper {
  height: 900px;
  background-color: rgb(211, 205, 218);
}

.site-wrapper {
}

.box-1-text {
  width: 350px;
  height: 150px;
  padding: 15px;
  font-weight: 100;
  font-size: 25px;
  align-items: flex-end;
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 105, 56, 0.781);
}